.projects_card_container {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
  padding: 0 6rem;
}

.project_card {
  border: 1px solid var(--clr-primary);
  height: 381px;
  border-radius: 0.4rem;
  overflow: hidden;
  position: relative;
}

.project_card_body {
  padding: 0 0.4rem;
}

.project_card_body > p {
  font-size: 0.8rem;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  height: 60%;
}

.overlay_pos {
  position: relative;
  width: 25rem;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: #460274e7;
  /* background: #5ba6bd4d; */
  color: #f1f1f1;
  width: 100%;
  height: 381px;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 0.4rem;
}

/* When you mouse over the container, fade in the overlay title */
.overlay_pos:hover .overlay {
  opacity: 1;
}

.overlay_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  height: 100%;
}

.overlay_link .icon_link {
  font-size: 2rem;
}

/* project details */
.projectDetails_container {
  display: flex;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  margin-left: 11rem;
  gap: 0.8rem;
  padding-right: 1rem;
}

.card {
  border: 1px solid var(--clr-primary);
}

.card_img {
  width: 100%;
  height: auto;
}

.badge_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.badge {
  width: auto;
  display: inline;
  height: auto;
  padding: 1px 8px;
  border-radius: 4px;
  color: rgb(11, 210, 236);
  background-color: #450086f5;
  font-size: 1rem;
}

.error_container {
  display: flex;
  justify-content: center;
}

.error_text {
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w_100 {
  width: 100%;
}
.h_screen {
  height: 100vh;
}

/* MEDIA QUERIES (Medium Devices) */
@media screen and (max-width: 1024px) {
  .projects_card_container {
    flex-wrap: wrap;
    grid-template-columns: 1fr;
  }
}

/* MEDIA QUERIES (Small Devices) */
@media screen and (max-width: 600px) {
  .projects_card_container {
    grid-template-columns: 1fr;
  }

  .projectDetails_container {
    display: grid;
    grid-template-columns: 2;
    justify-content: center;
  }

  /* .projects_card_container {
    justify-content: center;
    margin: 0 auto;
  } */

  .overlay {
    width: 20rem;
  }

  .overlay_pos {
    width: 20rem;
  }

  .projectDetails_container {
    display: grid;
    grid-template-columns: repeat(1, 80%);
    justify-content: center;
    margin-left: 4rem;
  }
  .image {
    height: 50%;
  }

  .badge {
    font-size: 0.94rem;
  }
}
