.about_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2rem;
  gap: 1rem;
  margin-bottom: 0.7rem;
}

.about_text_div {
  width: 60%;
}

.about_text_div > p {
  line-height: 1.8rem;
  font-size: 1rem;
}

.action_flex_start {
  display: flex;
  justify-content: flex-start;
}

.about_img_div {
  width: 400px;
  height: 400px;
  transition: all ease-in-out 1s;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid var(--clr-primary);
}

.about_img_div:hover {
  border: 4px solid var(--clr-primary);
}

.about_img {
  width: 100%;
  transition: transform 1s;
  filter: grayscale(75%);
  -webkit-filter: grayscale(100%);
}

.about_img_div:hover .about_img {
  transform: scale(1.6);
  filter: none;
  -webkit-filter: grayscale(0);
}

#stefets-picture {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#stefets-picture:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

@media screen and (max-width: 600px) {
  .about_container {
    flex-direction: column-reverse;
    justify-items: center;
  }

  .about_text_div {
    width: 90%;
  }

  .about_img_div {
    width: 90%;
    border: 1px solid var(--clr-primary);
    height: 300px;
  }

  .action_flex_start {
    display: flex;
    justify-content: flex-end;
  }
}
