.about_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2rem;
    gap: 1rem;
    margin-bottom: .7rem;
}

.about_text_div {
    width: 60%;
}

.about_text_div > p {
    line-height: 2.4rem;
    font-size: 1.2rem;
}

.action_flex_start {
    display: flex;
    justify-content: flex-start;
}

.about_img_div {
    width: 40%;
    border: 1px solid var(--clr-primary);
    transition: all ease-in-out 0.5s;
}

.about_img_div:hover {
    border: 2px solid var(--clr-primary);
    transform: translate(2);
}

@media screen and (max-width: 600px) {
    .about_container {
        flex-direction: column-reverse;
        justify-items: center;
        margin-left: 4rem;
    }

    .about_text_div {
        width: 80%;
    }
    
    .about_img_div {
        width: 80%;
        border: 1px solid var(--clr-primary);
    }

    .action_flex_start {
        display: flex;
        justify-content: flex-end;
    }
}