.flex {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 2.4rem;
}

.skills_circle {
  height: 120px;
  width: 120px;
}

.d_flex {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.flex_col {
  flex-direction: column;
}

.img_container {
  width: 2000px;
  height: 10rem;
  margin-top: .6rem;

}

.working_company_img {
  width: 100%;
  height: 100%;
}

.skills {
  font-weight: bold;
  font-size: 1.4rem;
}

.pt_1 {
  padding-top: 0.5rem;
}

.flex_start {
  align-self: flex-start;
}

.ml_1 {
  margin-left: 1rem;
}

.ml_2 {
  margin-left: 2rem;
}

.ml_4 {
  margin-left: 4rem;
}

.skills_designation {
  padding: 0 1rem;
}

@media screen and (max-width: 500px) {
  .flex {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    row-gap: 2rem;
  }

  .skills_circle {
    width: 90px;
    height: 90px;
  }
  .container {
    margin-top: 0;
    padding-top: 0;
  }

  .d_flex {
    flex-direction: column;
    align-items: center;
  }

  .px_2 {
    padding-left: 2rem;
  }

  .img_container {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .sm_ml_0 {
    margin-left: none;
  }
}
