nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 8%;
    transform: translateX(-50%);
    bottom: 3rem;
    gap: 0.8rem;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
    nav {
        top: 0;
        left: 50%;
        right: 3rem;
        bottom: 18rem;
        flex-direction: row;
        column-gap: 2rem;
        height: max-content;
        justify-content: center;
        width: 100%;
        border-radius: 0;
        padding: 1rem 0;
    }
}